<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="col">
      <h1 style="text-align: center">{{ title }}</h1>
    </div>
    <br />
    <br />
    <form class="form-group row" [formGroup]="formularioPaciente">
      <div class="form-group col-md-3">
        <label for="nombre">Nombre:</label>
        <input
          type="text"
          name="nombre"
          id="nombre"
          placeholder="Ingresa tu nombre"
          class="form-control"
          formControlName="nombre"
          [ngClass]="{
            'error': formularioPaciente.controls['nombre'].touched && 
            formularioPaciente.controls['nombre'].errors?.['required'],
            'valido': nombre?.valid
          }"
        />
        <div *ngIf="!nombre?.valid && (nombre?.dirty || nombre?.touched)">
          <div class="mensaje-error" [hidden]="!nombre?.errors?.['required']">
            El campo nombre es obligatorio.
          </div>
          <div class="mensaje-error" [hidden]="!nombre?.errors?.['minlength']">
            El campo debe contener almenos 4 caracteres
          </div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="edad">Edad:</label>
        <input
          type="text"
          name="edad"
          id="edad"
          placeholder="Ingresa tu edad"
          class="form-control"
          formControlName="edad"
          [ngClass]="{
            'error': formularioPaciente.controls['edad'].touched && 
            formularioPaciente.controls['edad'].errors?.['required'] && 
            formularioPaciente.controls['edad'].errors?.['pattern'],
            'valido': edad?.valid 
          }"
        />
        <div *ngIf="!edad?.valid && (edad?.dirty || edad?.touched)">
          <div class="mensaje-error" [hidden]="!edad?.errors?.['required']">
            El campo Edad es obligatorio.
          </div>
          <div class="mensaje-error" [hidden]="!edad?.errors?.['pattern']">
            Solo se permiten numeros.
          </div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="rut">Rut:</label>
        <input
          type="text"
          name="rut"
          id="rut"
          placeholder="Ingresa tu rut"
          class="form-control"
          formControlName="rut"
          [ngClass]="{
            'error': formularioPaciente.controls['rut'].touched && 
            formularioPaciente.controls['rut'].errors?.['required'],
            'valido': rut?.valid
          }"
        />
        <div *ngIf="!rut?.valid && (rut?.dirty || rut?.touched)">
          <div class="mensaje-error" [hidden]="!rut?.errors?.['required']">
            El campo Rut es obligatorio.
          </div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="enfermedad_previa">Enfermedad previa:</label>
        <select class="custom-select"
        name="enfermedad_previa"
        id="enfermedad_previa"
        class="form-control"
        formControlName="enfermedad_previa"
        [ngClass]="{
          'error': formularioPaciente.controls['enfermedad_previa'].touched && 
          formularioPaciente.controls['enfermedad_previa'].errors?.['required'],
          'valido': enfermedadPrevia?.valid
        }">
          <option value="" disabled selected>Elija una opcion</option>
          <option value="true">Si</option>
          <option value="false">No</option>
        </select>
        <div *ngIf="!enfermedadPrevia?.valid && (enfermedadPrevia?.dirty || enfermedadPrevia?.touched)">
          <div class="mensaje-error" [hidden]="!enfermedadPrevia?.errors?.['required']">
            Debe seleccionar una opcion.
          </div>
        </div>
      </div>
      <div class="col">
        <button style="margin-top: 30px;" type="submit" 
        class="btn btn-primary" 
        (click)="agregarPacienteNuevo()"
        [disabled]="!formularioPaciente.valid">Guardar Paciente</button>
      </div>
    </form>
  </div>


<app-lista-pacientes>

</app-lista-pacientes>
